body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.header-container {
    position: relative;
    max-height: 300px; /* Adjust the height according to your needs */
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.header-text {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom */
    left: 20px; /* Adjust the distance from the left */
    color: #fff;
}

.language-level {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #021c1f;
}

p {
    line-height: 1.6;
}

.learn-more-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #021c1f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.learn-more-link:hover {
    background-color: #021c1f;
}

footer {
    background-color: #021c1f;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 98.5%;
}

footer p {
    margin: 0;
}